*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background: #dedede;
    display: flex;
    align-items: center;
    height: 100vh;
}

.gameboard {
    height: 60vh;
    width: 60vh;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.color {
    width: 50%;
    height: 50%;
    display: inline-block;
}

.left {
    float: left;
}

.right {
    float: left;
}

.celeste {
    background: #22a6b3;
}

.celeste.light {
    background: #7ed6df;
}

.violeta {
    background: #be2edd;
}

.violeta.light {
    background: #e056fd;
}

.naranja {
    background: #f0932b;
}

.naranja.light {
    background: #ffbe76;
}

.verde {
    background: #6ab04c;
}

.verde.light {
    background: #badc58;
}

.btn-start {
    width: 400px;
    height: 100px;
    background: #ecf0f1;
    color: #2c3e50;
    font-size: 2.5rem;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 200px);
    border-radius: 50px;
    border: none;
    cursor: pointer;

}

.btn-start:hover {
    -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.5);
}

.hide {
    display: none;
}

.github{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 3rem;
    display: flex;
    align-items: center;
    
}

.github a{
    text-decoration: none;
    color: #2c3e50;
}

.github a:hover{
    color: #243241;
}

.level{
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 1.7rem;
    font-weight: 600;
    color: #2c3e50;
}